db.sqlite3
media
backend/__pycache__
assignment/__pycache__
attendance/__pycache__
category/__pycache__
classes/__pycache__
exam/__pycache__
examresult/__pycache__
fees/__pycache__
holiday/__pycache__
library/__pycache__
parent/__pycache__
portion/__pycache__
remainder/__pycache__
school/__pycache__
student/__pycache__
subject/__pycache__
teacher/__pycache__
timetable/__pycache__
assignment/migrations
attendance/migrations
category/migrations
classes/migrations
exam/migrations
examresult/migrations
fees/migrations
holiday/migrations
library/migrations
parent/migrations
portion/migrations
remainder/migrations
school/migrations
student/migrations
subject/migrations
teacher/migrations
timetable/migrations
env/